# --- Qt / CMake ---
/build*
/CMakeFiles/
/CMakeCache.txt
Makefile
*.user

# --- MSVC / MinGW ---
*.obj
*.exe
*.dll
*.pdb
*.ilk

# --- Qt Creator —
*.autosave
*.pro.user
*.pro.user.*
*.qmlproject.user
*.designer

# --- OS ---
.DS_Store
Thumbs.db
